p {
	font-family: "Arial";
	font-size: 18px;
	margin: 20px 20px 20px 20px;
	width: 1000px;
}
h1{
	font-family:"Times";
	font-size: 32px;
	font-style: italic;
}
h4 {
	font-family:"Arial";
	font-size: 20px;
	margin: 20px 20px 20px 20px;
	width: 1000px;
}
iframe {
	margin: 0px 10px 0px 10px;
}
#end{
	font-size: 14px;
}
img {
	float: right;
	margin: 5px 5px 5px 5px;
	width: 250px;
	padding: 5px;
}
figcaption {
	font-size: 12px;
	float: right;
	clear: right;
	margin: 5px;
	padding: 5px;
}